div.d-flex.flex-column.section-outer.choose-starship
    div.infobar-min-height.w-100
    div.background-stars(style="top: 12%; left: 21%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 72%; left: 71%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 34%; left: 12%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 74%; left: 7%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 80%; left: 35%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 30%; left: 85%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 20%; left: 1%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.background-stars(style="top: 88%; left: 95%;")
        img(class="background-stars__img" src="img/stars.jpg" alt="")
    
    div.container
        div.little-choise__description.text-center.text-light.mt-4 Выберите корабль
        div.carousel.mt-5.d-flex(id="starshipCarouselControls")
            button.carousel-control-prev.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true")
                span.visually-hidden Previous
            div.carousel-inner
                div.active.carousel-item
                    div.d-flex.flex-column.align-items-center.starship-choice-item
                        div.img-wrapper.px-3
                            img(class="rounded-circle w-100" src="img/Serenity.png" alt="..." srcset="")
                        div.card-body
                            input(class="d-none" id="starship0" value="Serenity" type="radio" name="starship")
                            label(
                                class="text-center text-light fs-4 fw-bold"
                                tabindex="0"
                                data-bs-toggle="tooltip"
                                title="Tooltip on top"
                                for="starship0")
                                | Serenity
                div.carousel-item
                    div.d-flex.flex-column.align-items-center.starship-choice-item
                        div.img-wrapper.px-3
                            img(class="rounded-circle w-100" src="img/Rossinant.png" alt="..." srcset="")
                        div.card-body
                            input(class="d-none" id="starship1" value="Rosinant" type="radio" name="starship")
                            label(
                                class="text-center text-light fs-4 fw-bold"
                                tabindex="0"
                                data-bs-toggle="tooltip"
                                title="Tooltip on top"
                                for="starship1")
                                | Rosinant
                div.carousel-item
                    div.d-flex.flex-column.align-items-center.starship-choice-item
                        div.img-wrapper.px-3
                            img(class="rounded-circle w-100" src="img/milleniumFalcon-min.png" alt="..." srcset="")
                        div.card-body
                            input(class="d-none" id="starship2" value="Millennium Falcon" type="radio" name="starship")
                            label(
                                class="text-center text-light fs-4 fw-bold"
                                tabindex="0"
                                data-bs-toggle="tooltip"
                                title="Tooltip on top"
                                for="starship2")
                                | Millennium Falcon
                div.carousel-item
                    div.d-flex.flex-column.align-items-center.starship-choice-item
                        div.img-wrapper.px-3
                            img(class="rounded-circle w-100" src="img/NormandiaSr2-min.png" alt="..." srcset="")
                        div.card-body
                            input(class="d-none" id="starship3" value="Normandia Sr2" type="radio" name="starship")
                            label(
                                class="text-center text-light fs-4 fw-bold"
                                tabindex="0"
                                data-bs-toggle="tooltip"
                                title="Tooltip on top"
                                for="starship3")
                                | Normandia Sr2
                
            button.carousel-control-next.position-relative(type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next")
                span.carousel-control-next-icon(aria-hidden="true")
                span.visually-hidden Next
        
        div.position-absolute.w-100.bottom-0.start-0.d-flex.flex-column.align-items-center.choise-link-animation.swiper-js
            div.text-light.fs-3.fit-content next
            div.choise-link-icon.fit-content
                img(src="icons/1492533501-arrow-30_83308.ico" alt="next")
